<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="IRD_Base" connectionString="Data Source=.; Initial Catalog=dbTRADEPLUS_73_74_MUNAL;Integrated Security=True;Connection Timeout=0;" />
  </connectionStrings>
  <appSettings>
    <add key="billURL" value="http://192.168.200.4:8065/api/bill.aspx" />
    <add key="returnURL" value="http://localhost:3000/api/billreturn" />
    <add key="fiscalYear" value="2073/74"/>
    <add key="user" value="hello"/>
    <add key="pwd" value="hellopwd"/>
    <add key="sellerPan" value="207374"/>
  </appSettings>
</configuration>